---
import { DateTime } from 'luxon';

const dresden = DateTime.now().setZone('Europe/Berlin');
const lima = DateTime.now().setZone('America/Lima');

const dresdenTime = dresden.toFormat('HH:mm');
const limaTime = lima.toFormat('HH:mm');

const diffInHours = (dresden.offset - lima.offset) / 60
// Set the target return date

const targetDate = DateTime.fromISO('2025-12-31T00:00:00', { zone: 'America/Lima' });


// Calculate time difference in months, weeks, days, and hours
const diffToBackHome = targetDate.diff(lima, ['months', 'weeks', 'days', 'hours']).toObject();

---

<p>Dresden {dresdenTime} +{diffInHours}h  {limaTime} Peru (Tambopata)</p>

<p>Rückflug in: {Math.floor(diffToBackHome.months)} Monate, {Math.floor(diffToBackHome.weeks)} Wochen, {Math.floor(diffToBackHome.days)} Tage, {Math.floor(diffToBackHome.hours)} Stunden </p>